In [2]:
p = [12.11, 2.51, 5.25, 8.37]
for i, z in enumerate(p):
    print('Element ' + str(i) + ' -', str(z))

Element 0 - 12.11
Element 1 - 2.51
Element 2 - 5.25
Element 3 - 8.37

In [14]:
import numpy as np
y = np.array([[4, 5, 6], 
              [11, 12, 13]])
np.transpose(y)

array([[ 4, 11],
       [ 5, 12],
       [ 6, 13]])

In [15]:
x = ['education', 'automobile', 'evacuation', 'gym']
count_vowel = list(map(lambda word: word.count('o'), x))
print(count_vowel)

[1, 2, 1, 0]

In [16]:
vibe = iter('Cisco Ramon')
print(*vibe)

C i s c o   R a m o n

In [17]:
superhero_list = ['thor', 'hulk']

def to_upper(x):
    for i in x:
        yield i.upper()

print(to_upper(superhero_list))

<generator object to_upper at 0x000002696571E990>

In [18]:
import pandas as pd
sales = [{'Mar': 70, 'May': 78}, {'May': 80, 'Mar': 75}, {'May': 65, 'Mar': 100}]
sales_df = pd.DataFrame(sales)
print(sales_df)

   Mar  May
0   70   78
1   75   80
2  100   65

In [25]:
print(sales_df.describe())
print(sales_df.info())

              Mar        May
count    3.000000   3.000000
mean    81.666667  74.333333
std     16.072751   8.144528
min     70.000000  65.000000
25%     72.500000  71.500000
50%     75.000000  78.000000
75%     87.500000  79.000000
max    100.000000  80.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Mar    3 non-null int64
May    3 non-null int64
dtypes: int64(2)
memory usage: 128.0 bytes
None

In [26]:
pd.DataFrame.infob

In [31]:
l = ['2012-01-01 091234','2012-01-01 091234']
print((pd.to_datetime(
    bl)))

DatetimeIndex(['2012-01-01 09:12:34', '2012-01-01 09:12:34'], dtype='datetime64[ns]', freq=None)

In [33]:
print(sales_df)
print(sales_df.tail())

   Mar  May
0   70   78
1   75   80
2  100   65
   Mar  May
0   70   78
1   75   80
2  100   65